.addbook{
    text-align: center;
    /* margin: 50px 450px 50px 450px; */
    display: flex;
    margin: 50px 0px;
}
.bookmain{
    margin-left: 70px;
}
.addbook img{
    margin-top: 70px;
}
.form input{
    /* border: none; */
    border: 1px solid rgb(155, 153, 153);
    /* background-color: black; */
    color: white;
    /* border-radius: 10px; */
    height: 30px;
    width: 300px;
    margin-bottom: 8px;
    
    
}
.form textarea{
    border: 1px solid rgb(155, 153, 153);
    /* border-radius: 10px; */
    /* background-color: black; */
    color: white;
    width: 300px;
    height: 60px;
    margin-bottom: 8px;
}
.addbook h1{
    margin: 10px 0px;
    /* margin-top: 50px; */
}
.form button{
    border: none;
    background-color: rgb(141, 44, 27);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.addbook h1{
    font-weight: 500;
}

