.usernavbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(5, 5, 54);
    color: white;
    height: 50px;
 }
 .list li{
    display: inline;
    margin-right: 100px;
    
 }
 .list a{
     text-decoration: none;
     color: white;
     transition: 0.5s;
 }
 .list a:hover{
     color: red;
 }